<script src="../lib/crosscom.js" charset="utf-8"></script>
<script>
var a= (err, data, {type, response} = {}) => {
		console.log("response", data, type);
		return response(3, "response", b);
	},
	b = (err, data, {type, response} = {}) => {
		console.log("response", data, type);
		return response(5, "response", c);
		return response({data:5, type:"response"}, c)
	},
	c = (err, data, {type, response} = {}) => {
		console.log("response", data, type);
		return response(7, "response");
	}
	function x({data, type, response}) {
		console.log("response", data, type);
		response(1, "response", a)
	}
	crosscom.addListener("request",x)
</script>
<iframe src="iframe.html"></iframe>
